body {
    padding: 10px;
}
.list-header {
    text-align: center;
}
#newauction-form > div {
    margin: 10px 0;
}
.empty-message {
    font-size: 18px;
    text-align: center;
}
.auction-item {
    display: flex;
    border: 1px solid black;
    margin: 7px 0;
}
.auction-item > div {
    height: 200px;
    width: 50%;
}
.auction-info {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.img-container {
    display: flex;
    justify-content: end;
}
.auction-image {
    max-width: 100%;
    max-height: 100%;
} 
div.auction-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
.rborder {
    border-right: 1px solid black;
}
.main-text-container {
    display: flex;
}
.main-text-container > div {
    width: 50%;
}
.line {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;

}
.review {        
    font-style: italic;
    line-height: 30px;
    height: 90px;
    max-height: 90px;
    overflow: hidden;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.right {
    text-align: end;
}
.black-link, .black-link:hover, .black-link:visited {
    color: black;
    text-decoration: none;
}
.auction-page {
    background-color: #eceff4;
    padding: 10px 20px;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'img action'
    'info info'
    'add-comment add-comment'
    'comments comments';
    gap: 15px 15px;
}

.big-img {
    grid-area: img;
    height: 300px;
}
.white-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-img > div {
    height: 90%;
    width: 90%;
}
.right-block {
    grid-area: action;
    padding: 7px;
}
.info {
    grid-area: info;
}
.comments {
    grid-area: comments;
}
.add-comment {
    grid-area: add-comment;
}
.right-block, .info, .comments, .white-img, .add-comment {
    background-color: white;
    padding: 10px;
}
.right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-block {
    text-align: center;
    font-size: 18px;
    margin: 10px auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}
.big-btn {
    width: 100%;
    padding: 3px;
}
.green-btn {
    background-color: green;
}
.red-btn {
    background-color: red;
}
.comment {
    width: 90%;
    border: 1px solid gray;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
}
@media(max-width:799px) {
    .auction-page {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'img'
        'action'
        'info'
        'add-comment'
        'comments';
    }
}
.big-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.big-alert {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.category-block {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid blue;
}