{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="list-header">All categories</h2>
    <div>        
        {% for category in categories %}
            <a class="black-link" href="{% url 'category' category.id %}">
                <div class="category-block big-text">
                    {{category.name}}
                </div>
            </a>
        {% endfor %}
        <a class="black-link" href="{% url 'category' 0 %}">
            <div class="category-block big-text">
                Without category
            </div>
        </a>
    </div>
{% endblock %}