{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="list-header">Active Listings</h2>
    <div class="auction-grid">
        {% for item in infolist %}
            <a class="black-link" href="{% url 'auction' item.auction.id %}">
                <div class="auction-item">
                    {% if item.auction.image %}
                        <div class="img-container rborder"><img class="auction-image" src="{{item.auction.image.url}}" alt="Image of auction"></div>
                    {% else %}
                        <div class="auction-image rborder"><div>No image</div></div>
                    {% endif %}
                    <div class="auction-info">
                        <div class="main-text-container">
                            <div class="line">{{item.auction.name}}</div>
                            <div class="line right">Price: ${{item.current_price}}</div>
                        </div>
                        <div class="review">{{item.auction.review}}</div>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="empty-message">There is no any active auction.</div>
        {% endfor %}
    </div>
{% endblock %}