{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        {% if class_name %}
            <div class="big-alert {{class_name}}">{{message}}</div>
        {% else %}
            <div class="big-alert">{{message}}</div>
        {% endif %}
    {% endif %}
    <div class="big-alert">
        {% if auction_id %}
            <a class="black-link" href="{% url 'auction' auction_id %}">Back to auction -></a>
        {% else %}
            <a class="black-link" href="{% url 'index'%}">Back to main page -></a>
        {% endif %}
    </div>
{% endblock %}